/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./task-1-header.css');
@import url('./task-2-hero.css');
@import url('./task-3-about-us.css');
@import url('./task-4-our-collection.css');
@import url('./task-5-your-order.css');
@import url('./task-6-testimonials.css');
@import url('./task-7-footer.css');
@import url('./task-8-mobile-menu.css');

:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fcf9f9;
  background-color: #1c2225;

  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
}
